@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
    --theme-bg: #14305f;
    --white-color:  #f7efd6 ;
    --golden-type-color: #de9348;
    --light-peach: #edae77;
    --text-color: #704105;
    --theme-bg-secondary: #7ca3d2;
    --heading-text-size: 5rem;

  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}


li{
    list-style: none;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-bg-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6692c7;
}


@font-face {
    font-family: DanceScript-Bold;
    src: url(../fonts/DancingScript-Bold.ttf);
}

@font-face {
    font-family: GoBoldCut;
    src: url(../fonts/Gobold-CUTS.otf);
}
@font-face {
    font-family: GoBoldRegular;
    src: url(../fonts/Gobold-CUTS.otf);
}

.goboldcuts{
    font-family: GoBoldCut;
}
.goboldregular{
    font-family: GoBoldRegular;
}

.heading-font-size {
    font-size: var(--heading-text-size);
}

.white-color{
    color: var(--white-color);
}

.para-font-size {
    font-size: 1.25rem;
}

.banner {
    height: 100vh;
}

.banner-heading{
    font-family: GoBoldCut;
    color: var(--white-color);
}

.logo-heading {
    font-family: DanceScript-Bold;
    font-size: 2rem;
    color: var(--white-color);
    border-bottom: 2px solid #fff;
    padding: 0 0 1rem 3rem;
}

.theme-bg{
    background-color: var(--theme-bg);
}

.theme-bg-secondary{
    background-color: var(--theme-bg-secondary);
}

.navbar-parent{
    top: 1rem;
    width: 100%;
    /* margin: 0 2rem; */
    z-index: 1;
}


/* menu styles */


  
  .menu-wrap .toggler {
    position: absolute;
    top: -0.4rem;
    right: 3rem;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: -0.4rem;
    right: 3rem;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background-color: var(--text-color);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
    background-color: var(--text-color);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    /* transform: scale(1); */
    width: 100%;
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
  }
  
  .menu-wrap .menu > div {
    background: #7ca3d2;
    width: 0%;
    height: 100vh;
    /* transform: scale(0); */
    transition: all 0.4s ease;
}
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    font-size: 4.5rem;
    color: var(--white-color);
}
/* menu styles */


.ul-of-header{
    padding-left: 7rem;
}

/* #edae77 */

.flipBtn {
    display: inline-flex;
    height: 50px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    -webkit-transform: skew(-10deg,0);
    transform: skew(-10deg,0);
    width: 160px;
}

.flipBtn .flipBtnLink {
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s,-webkit-transform .25s;
}
.flipBtn .flipBtnLink:hover {
    -webkit-transform: translateZ(-25px) rotateX(-90deg);
    transform: translateZ(-25px) rotateX(-90deg);
}
.flip-skew{
        --tw-skew-x: -12deg;
}

.flipBtn .flipBtnLink.flipFrontWhite:before {
    background: #fff;
    color: var(--theme-bg-secondary);
}

.flipBtn .flipBtnLink:before {
    content: "Explore More";
    -webkit-transform: rotateY(0deg) translateZ(22px);
    transform: rotateY(0deg) translateZ(22px);
}

.flipBtn .flipBtnLink:after, .flipBtn .flipBtnLink:before {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    width: 160px;
}

.flipBtn .flipBtnLink.flipBackPink:after {
    background: var(--theme-bg-secondary);
    color: #fff;
}

.flipBtn .flipBtnLink:after {
    content: "Explore Services";
    -webkit-transform: rotateX(82deg) translateZ(18px);
    transform: rotateX(82deg) translateZ(18px);
}

.para-banner{
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
}

.content-parent-banner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* circle-hange-anim */
.hang-width-sm{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}



.hang-circle-border{
    border: 0.35rem solid var(--white-color);
}


.hang-circle-anim{
    animation-name: hang-circle-animation;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-duration: 25s;
}

@keyframes hang-circle-animation {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0);
    }
}

.hang-circle-text{
    color: var(--white-color);
    font-size: 0.6rem;
}

.hang-circle-positioning-one, .hang-circle-positioning-two, .hang-circle-positioning-three, .hang-circle-positioning-four, .hang-circle-positioning-five, .hang-circle-positioning-six{
    position: absolute;
   
}

.hang-circle-positioning-one{
    top: 0;
    right: 0;
}
.hang-circle-positioning-two{
    top: 5rem;
    right: -5rem;
}
.hang-circle-positioning-three{
    top: 10rem;
    right: 0;
}
.hang-circle-positioning-three{
    top: 10rem;
    right: 0rem;
}
.hang-circle-positioning-four{
    top: 14rem;
    right: -5rem;
}
.hang-circle-positioning-five {
    top: 18rem;
    right: 0rem;
}
.hang-circle-positioning-six{
    top: 23rem;
    right: -5rem;
}

.hang-circle-parent-mirror {
    transform: translate(160px, -320px);
}
/* circle-hange-anim */

.about-section{
    padding: 7rem 0;
}



/* services sec styles */

/*==================== SERVICE CARD ====================*/

.services-section{
    padding: 4rem 0;
}
.card__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    margin: 40px auto;
}
.card__bx {
    --bg-clr: #282828;
    --txt-clr: #ffffff;
    --btn-txt-clr: #333333;
    --transition: all 0.5s;

    font-family: 'Poppins', sans-serif;
    height: 400px;
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    border-top-left-radius: 70px;
    position: relative;
    overflow: hidden;
    background: var(--clr);
    transition: var(--transition);
}
.card__1 {
    --clr: #249eff;
}
.card__2 {
    --clr: #ff1f6b;
}
.card__3 {
    --clr: #98ff21;
}
.card__bx .card__data {
    position: absolute;
    inset: 10px;
    border-radius: 10px;
    background: var(--bg-clr);
}
.card__bx .card__data .card__icon {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 50%;
    height: 140px;
    width: 140px;
    background: var(--clr);
}
.card__bx .card__data .card__icon::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 30px;
    width: 30px;
    border-top-left-radius: 30px;
    background: transparent;
    box-shadow: -5px -5px 0 5px var(--clr);
}
.card__bx .card__data .card__icon::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 0;
    height: 30px;
    width: 30px;
    border-top-left-radius: 30px;
    background: transparent;
    box-shadow: -5px -5px 0 5px var(--clr);
}
.card__bx .card__data .card__icon .card__icon-bx {
    position: absolute;
    inset: 10px;
    border-radius: 10px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background: var(--bg-clr);
    color: var(--clr);
}
.card__bx:hover .card__data .card__icon .card__icon-bx {
    background: var(--clr);
    color: var(--txt-clr);
    transition: var(--transition);
}
.card__bx .card__data .card__content {
    position: absolute;
    top: 150px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    color: var(--txt-clr);
}
.card__bx .card__data .card__content h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card__bx .card__data .card__content p {
    font-size: 14px;
    opacity: 0.75;
}
.card__bx .card__data .card__content a {
    display: inline-flex;
    align-self: center;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid var(--clr);
    color: var(--btn-txt-clr);
    background: var(--clr);
    transition: var(--transition);
}
.card__bx .card__data .card__content a:hover {
    background: transparent;
    color: var(--clr);
}


/* services sec styles */



/* contact-sec-styles */
.section-title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 0 0 35px;
  }
  
  .sec-pad {
    padding: 4rem 0 ;
  }
  
  .contact-sec {
    align-items: center;
    display: flex;
  }
  
  .contact-sec .contact-ul li,
  .contact-ul b {
    font-size: 1.1rem;
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
    word-wrap: break-word;
  }
  
  .contact-sec .contact-ul i {
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .contact-detail a {
    color: #000;
    text-decoration: none;
  }
  
  .contact-sec .contact-ul li b:hover {
    color: #f93;
  }
  
  .contact-sec .contact-ul li .fa-location-dot {
    color: #f44337;
    border: 2px solid #f4433790;
  }
  
  .contact-sec .contact-ul li .fa-phone {
    color: #00b055;
    border: 2px solid #00b05590;
  }
  
  .contact-sec .contact-ul li .fa-envelope {
    color: #ff6347;
    border: 2px solid #ff634790;
  }
  
  .contact-detail span {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .contact-detail span a {
    font-size: 20px;
    padding: 6px 12px;
    color: #000;
    border-radius: 50%;
    margin: 0px 5px;
  }
  .contact-detail span .fb {
    color: #3b5998;
    border: 3px solid #3b5998;
  }
  .contact-detail span .fb:hover {
    color: #fff;
    background-color: #3b5998;
  }
  
  .contact-detail span .insta {
    color: #833ab4;
    border: 3px solid #833ab4;
  }
  .contact-detail span .insta:hover {
    color: #fff;
    background-color: #833ab4;
  }
  
  .contact-detail span .twitter {
    color: #00acee;
    border: 3px solid #00acee;
  }
  .contact-detail span .twitter:hover {
    color: #fff;
    background-color: #00acee;
  }
  
  form.contFrm {
    max-width: 396px;
    margin: auto;
  }
  
  .inptFld {
    width: 100%;
    height: 50px;
    border: 0;
    margin: 0 0 10px;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 16px;
    color: #000;
    font-family: "Poppins", sans-serif;
  }
  
  .inptFld:focus {
    outline-offset: -4px;
    outline: 1px solid #f93;
  }
  
  .contFrm textarea {
    height: 75px;
    padding-top: 5px;
    resize: none;
        font-family: "Poppins", sans-serif;
  }
  .inptBtn {
    height: 50px;
    border: 0;
    background: var(--theme-bg);
    font-size: 14px;
    color: #fff;
    margin: auto;
    letter-spacing: 1px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
        font-family: "Poppins", sans-serif;
  }
  
/* contact-sec-styles */



/* foooter-styles */

.footer-column {
    text-align: center;
  }
  .footer-column .nav-item .nav-link {
    padding: 0.1rem 0;
  }
  .footer-column .nav-item span.nav-link {
    color: #6c757d;
  }
  .footer-column .nav-item span.footer-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-family: GoBoldCut;
  }
  .footer-column .nav-item .fas {
    margin-right: 0.5rem;
  }
  .footer-column ul {
    display: inline-block;
  }
    .footer-column ul {
      text-align: left;
    }
  
  ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a:active,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:hover {
    background-color: var(--theme-bg-secondary);
  }
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #1a1d20;
  }
  
  footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
  }
  
  .copyright {
    color: white;
  }
  
  .fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
  }
  footer{
    padding: 2.5rem 0;
    background-color: var(--theme-bg);
  }

  .nav-item a {
      color: #fff;
      text-decoration: none;
  }

  .nav-item a:hover {
    color: var(--theme-bg-secondary);
  }

  .nav-link, .copyright{
    font-family: 'Poppins', sans-serif;
  }
  .list-inline-item a{
    color: #fff;
  }

  .list-inline-item a:hover{
    color: var(--theme-bg-secondary);
  }


  #tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
/* foooter-styles */

/* font-family: 'Poppins', sans-serif; */